.App {
  text-align: center;
  padding: 4em 6em;
  background: #f7f7f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .MuiTabs-root {
  margin-bottom: 3em;
}
.App .MuiTabs-fixed {
  border-bottom: 1px solid #8080803d;
}
.App .MuiTab-textColorPrimary.Mui-selected {
  color: black;
  font-weight: bold;
}
.App .MuiPaper-elevation1 {
  box-shadow: 0px 33px 33px 3px #d2d0d0;
  border-radius: 11px;
}
.App .MuiTableCell-body {
  color: rgba(0, 0, 0, 0.38);
  font-weight: bold;
  border-bottom: transparent;
}
.App .MuiTableCell-stickyHeader {
  background: white;
}
.BlockTitle {
  display: flex;
  background: white;
  padding: 1em;
  box-shadow: 0px 33px 33px 3px #d2d0d0;
  border-radius: 6px 6px 0 0;
}
.BlockTitle h1 {
  font-size: 1.2em;
  text-align: left;
  font-weight: 500;
}
.BlockTitle img {
  margin-right: 0.5em;
}
.BlockName {
  display: flex;
  align-items: center;
}
.BlockName img {
  margin-right: 0.5em;
  width: 20px;
}

.MuiPagination-ul {
  justify-content: center;
}
